<div class="project-card">
    <div class="img">
        <img src="{{include.image}}" />
    </div>
    <div class="text">

        <h3>
            {%- if include.github_url -%}
            <a href="{{include.github_url}}" target="_blank" class="github-icon">
                <img src ="/assets/github-1.svg" loading="lazy" />
            </a>
            {%- endif -%}

            {%- if include.url -%}
            <a href="{{include.url}}" target="_blank">
                {{include.name}}
            </a>
            {%- else -%}
            {{include.name}}
            {%- endif -%}
        </h3>

        {%- if include.tech -%}
        <p class="project-tech">{{ include.tech }}</p>
        {%- endif -%}

        {%- if include.description -%}
        <p class="project-description">{{ include.description }}</p>
        {%- endif -%}

    </div>
</div>
