
<style type="text/css">
 #shore-bg {
     position: absolute;
     top: 0px;
     left: 0px;

     background: linear-gradient(90deg, #257b9e, #fff);
     width: 200px;
     height: 80vh;
     transform: scale(2, 2) rotate(26deg) translate(-67px, 0%);
 }

 #shore-container {
     width: 200px;
     position: absolute;
     top: 0;
     left: 0;
 }
 #shore-blue {
     fill: #67B2D0;
     animation: shore-blue 7s ease-in-out infinite;
 }
 #shore-white {
     fill: #fff;
     animation: shore-white 7s ease-in-out infinite;
 }
 #shore-sand {
     fill: #F1C789;
     animation: shore-sand 7s ease-in-out infinite;
 }

 @keyframes shore-blue {
     0% {
         transform: translateY(0);
     }
     50% {
         transform: translate(-25%,25%);
     }
     100% {
         transform: translateY(0);
     }
 }
 @keyframes shore-white {
     0% {
         transform: translate(0,0);
     }
     60% {
         transform: translate(-35%, 35%);
     }
     70% {
         transform: translate(-35%, 35%);
     }
     100% {
         transform: translate(0, 0);
     }

 }
 @keyframes shore-sand {
     0% {
         transform: translate(0%, -0%);
     }
     50% {
         transform: translate(-50%, 50%);
     }
     100% {
         transform: translate(0%, 0%);
     }

 }
</style>

<div id="shore-bg"></div>
<div id="shore-container" >
    <?xml version="1.0" standalone="no"?>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 858.000000 792.000000">
        <defs>
        <linearGradient id="diagonalGradient" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#67B2D0" />
            <stop offset="100%" style="stop-color:white" />
        </linearGradient>
        </defs>
        <g id="shore-group" transform="translate(0.000000,792.000000) scale(0.100000,-0.100000)"
           stroke="none">
            <path id="shore-blue" fill="url(#diagonalGradient)" d="M0 3964 l0 -3955 23 7 c45 13 335 147 437 202 1018 542 1791 1371
                      2356 2527 151 309 224 489 337 826 492 1480 1279 2627 2247 3276 264 177 663
                      368 1110 531 529 193 1121 352 1925 516 l120 24 -4277 1 -4278 1 0 -3956z"/>

            <path id="shore-white" d="M0 3964 l0 -3955 23 7 c45 13 335 147 437 202 1018 542 1791 1371
                      2356 2527 151 309 224 489 337 826 492 1480 1279 2627 2247 3276 264 177 663
                      368 1110 531 529 193 1121 352 1925 516 l120 24 -4277 1 -4278 1 0 -3956z"/>

            <path id="shore-sand" d="M0 3964 l0 -3955 23 7 c45 13 335 147 437 202 1018 542 1791 1371
                      2356 2527 151 309 224 489 337 826 492 1480 1279 2627 2247 3276 264 177 663
                      368 1110 531 529 193 1121 352 1925 516 l120 24 -4277 1 -4278 1 0 -3956z"/>
        </g>
    </svg>
</div>

